chipseq/01_rawData/*.fastq.gz
chipseq/02_trimmed/*.fastq.gz
chipseq/05_alignment/*.bam
chipseq/10_heatmap/*.bw
chipseq/10_heatmap/*.bigWig
chipseq/10_heatmap/matrix_*.gz
chipseq/10_heatmap/peaks_sorted.bed
chipseq/03_fastqc_raw/*.zip
chipseq/04_fastqc_trimmed/*.zip
chipseq/10_meme_analysis/memechip_results/meme_out/*.eps
chipseq/10_meme_analysis/memechip_results/fimo_out_*/*.tsv
chipseq/10_meme_analysis/memechip_results/fimo_out_*/cisml.xml
chipseq/10_meme_analysis/memechip_results/streme_out/*.xml
*:Zone.Identifier
*.Zone.Identifier
.DS_Store
Thumbs.db
desktop.ini
__pycache__/
*.py[cod]
*.pyc
*.pyo
.Python
.Rhistory
.RData
.Rproj.user/
*.swp
*.swo
*~
.vscode/
.idea/
*.tmp
*.temp
*.bak
chipseq/10_heatmap/matrix_peaks/matrix_peaks
chipseq/09_chipseeker/peak_heatmap.pdf
